<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id="INSTALLLOCATION" FileSource="C:\Test\SuperApp\bin\Debug\">
      <Component Id="ProductComponent" Guid="b11256a2-e066-4393-af5c-9c9210187eb2" DiskId='1'>
        <File Id='SuperApp' Name='SuperApp.exe'/>
        <File Id='Colorful' Name='Colorful.Console.dll'/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
