<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir"> 
      <Directory Id="ProgramFilesFolder">
      <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)"/></Directory>
      <Directory Id="ProgramMenuFolder"></Directory>
    </Directory>
    
    <Feature Id="ProductFeature" Title="SetupSuperApp" Level="1">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="ApplicationShortcutSuperApp" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" ></Property>
    <WixVariable Id="WixUILicensetxt" Overridable="yes" Value="License.txt"/>
    <UIRef Id="WixUI_InstallDir"/>

  </Product>
</Wix>
